{% extends "base.html" %}
{% block body %}
  <h3 class="mb-3">{{ _('スタッフ登録') }}</h3>
  <form method="post" class="row g-3">
    <div class="col-md-4">
      <label class="form-label">{{ _('名前') }}</label>
      <input name="name" class="form-control" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">{{ _('パスワード') }}</label>
      <input name="password" type="password" class="form-control" required>
    </div>
    <div class="col-12">
      <button class="btn btn-main">{{ _('登録') }}</button>
    </div>
  </form>
{% endblock %}
